.additional {
  //padding-bottom: 39px;
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding: 17px 0 33px 20px;
  margin: 0;
  color: #000000;
  position: relative;
  background: #ffffff;
  width: 77%;

  @media (min-width: $tablet-with) {
    font-size: 36px;
    line-height: 36px;
    margin: 47px 0 50px 45px;
    width: 49%;
  }

  @media (min-width: $desktop-with) {
    margin: 60px auto 50px auto;
    width: 1200px;
    padding-left: 0;

    &::before {
      //content: "";
      width: 19%;
      height: 2px;
      background: $basic-green;
      position: absolute;
      left: -114px;
      right: 0;
      top: 36px;
      z-index: -1;
    }
  }
}

.additional__title-box {
  position: relative;

  &::after {
    //content: "";
    width: 100%;
    height: 2px;
    background: $basic-green;
    position: absolute;
    left: 0;
    right: 0;
    top: 33px;
    z-index: -1;

    @media (min-width: $tablet-with) {
      top: 40px;
    }
  }
}

.additional__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-with) {
    border: 1px solid #cdcdcd;
    //padding: 0 40px;
  }

  @media (min-width: $desktop-with) {
    border: none;
    padding: 0;
    margin-bottom: 81px;
  }
}

.additional__item {
  border-top: 1px solid #cdcdcd;
  padding-bottom: 18px;

  @media (min-width: $tablet-with) {
    border-top: none;
    padding: 0 40px 33px 40px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-with) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  &:first-child {
    padding-top: 0;

    @media (min-width: $desktop-with) {
      border-top: 1px solid #cdcdcd;
    }
  }

  //margin: 20px 0;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
    //padding-bottom: 20px;
  }
}

.additional__product {
  @media (min-width: $tablet-with) {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-with) {
    width: 68%;
  }
}

.additional__button a {
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    width: 100%;
  }

  @media (min-width: $desktop-with) {
    width: 244px;
  }
}
