.btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: $basic-green;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: $basic_green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: $basic_green-2;
  }
}
