@import "../sass/name.scss";

.btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: $basic_green;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  padding: 10px;
}
