.cards {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto;
  justify-content: center;

  @media (min-width: $tablet-with) {
    grid-gap: 137px 60px;
    grid-template-columns: repeat(2, 324px);
    padding: 0 30px;
  }

  @media (min-width: $desktop-with) {
    column-gap: 80px;
    grid-template-columns: repeat(4, 245px);
  }
}

.cards__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0 26px 0;
  min-height: 210px;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    grid-template-columns: auto;
    justify-items: center;
    background: #f2f2f2;
    padding: 0 0 40px 0;
    //background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 90%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);

    &:last-child {
      background: #ffffff;
      border: 1px solid #f2f2f2;
      padding: 0 40px;
      text-align: center;
    }

    &:nth-child(odd) {
      img {
        margin-top: -23px;
      }
    }
  }

  @media (min-width: $desktop-with) {
    width: 245px;
    padding: 0;
  }

  .title {
    margin: 0;

    @media (max-width: $tablet-with) {
      br {
        display: none;
      }
    }
  }
}

.cards__title {
  width: 54%;
  //margin-top: 27px;

  @media (min-width: $tablet-with) {
    width: 41%;
    text-align: center;
    margin-top: 24px;
  }

  @media (min-width: $desktop-with) {
    width: auto;
  }
}

.cards__button {
  grid-column: 1/-1;
  //margin-top: 23px;
  width: 280px;
  margin: 13px 0 0 0;

  @media (min-width: $tablet-with) {
    width: 248px;
    margin: 32px 0 0 0;
  }

  @media (min-width: $desktop-with) {
    width: 168px;
    margin-bottom: 40px;
    margin-top: 33px;
  }
}

.cards__image {
  grid-row: 1/3;
  text-align: center;
  justify-items: center;
  display: grid;
  align-items: center;
  //margin-top: 38px;
  //margin-left: 17px;
  img {
    margin-top: 10px;
  }

  @media (min-width: $tablet-with) {
    margin-top: -53px;

    img {
      height: auto;
      width: auto;
      margin-bottom: 5px;
    }
  }
}

//.cards__image {
//  @media (min-width: $tablet-with) {
//    img {
//      height: auto;
//      width: auto;
//      margin-bottom: 5px;
//    }
//  }
//}


.cards__description {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  width: 100%;

  @media (min-width: $tablet-with) {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 13px;
  }

  @media (min-width: $desktop-with) {
    width: 168px;
    padding: 0;
  }
}

.cards__description-item {
  display: flex;
  justify-content: space-between;
  //padding-right: 20px;

  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  @media (min-width: $tablet-with) {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    line-height: 16px;
  }
}

.cards__item-more {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-with) {
    display: grid;
  }

  &::before {
    content: "";
    background: url("../img/plus.svg") no-repeat center;
    width: 60px;
    height: 60px;
    margin-top: -16px;

    @media (min-width: $tablet-with) {
      background: url("../img/plus_desctop.svg") no-repeat center;
      margin-top: 31px;
    }

    @media (min-width: $desktop-with) {
      margin-top: 45px;
    }
  }

  .title {
    margin: 8px 0 0 0;

    @media (min-width: $tablet-with) {
      width: 60%;
    }

    @media (min-width: $desktop-with) {
      width: 82%;
    }
  }

  p {
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $tablet-with) {
      width: 73%;
      font-size: 16px;
      line-height: 18px;
    }

    @media (min-width: $desktop-with) {
      width: 100%;
      margin-top: 0;
    }
  }

  .cards__button-more {
    &:hover {
      background: #ebebeb;
    }

    &:active a {
      color: rgba(0, 0, 0, 0.3);
    }

    a {
      background: #f2f2f2;
      color: $special-dark-grey;
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $tablet-with) {
      margin-bottom: 24px;
    }
  }
}
