.catalog__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  padding: 26px 0 40px 20px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-with) {
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
    margin-bottom: 10rem;
    padding: 40px 0 0 30px;
  }

  @media (min-width: $desktop-with) {
    padding: 45px 0 0 30px;
  }
}

.catalog {
  @media (min-width: $desktop-with) {
    padding: 0 80px;
  }
}
