.example-box {
  @media (min-width: $desktop-with) {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 23%, #f2f2f2 23%, #f2f2f2 100%);
    min-height: 600px;
  }
}

.example {
  background: #eaeaea;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 100%);
    //padding-bottom: 10px;
  }

  @media (min-width: $desktop-with) {
    background: none;
  }
}

.example-box__item {
  display: flex;
  flex-flow: column;
  padding-bottom: 22px;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-with) {
    flex-flow: row;

    .example__item {
      //width: 50%;
    }
  }
}

.example__title {
  text-transform: none;
  text-align: left;
  margin-bottom: 29px;

  @media (min-width: $tablet-with) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin: 43px 0 68px 0;
  }

  @media (min-width: $desktop-with) {
    margin: 20px 0 9.6rem 0;
  }
}

.example__description {
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    font-size: 16px;
    line-height: 24px;
  }

  .example__title-desk {
    @media (min-width: $tablet-with) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-with) {
      width: 72%;
      margin-bottom: 60px;
    }
  }
}

.example__description > p {
  color: $special-dark-grey;

  &:first-child {
    margin-bottom: 25px;

    @media (min-width: $tablet-with) {
      margin: 10px 0 56px 0;
    }

    @media (min-width: $desktop-with) {
      margin: 100px 0 61px 0;
      width: 72%;
    }
  }
}

.example__item {
  padding-bottom: 18px;
  position: relative;

  @media (min-width: $desktop-with) {
    width: 50%;
  }
}
//cats ver
@media (min-width: $tablet-with) {
  .example__item-desck {
    min-height: 366px;
  }

  .example__image {
    overflow: hidden;
    position: relative;
    margin-top: 3rem;

    @media (min-width: $desktop-with) {
      overflow: visible
    }

    .example__box {
      position: absolute;
      background-image: linear-gradient(#fff 161px, #f2f2f2 161px);
      top: 16px;
      left: 0;

      @media (min-width: $desktop-with) {
        background-image: linear-gradient(#fff 175px, #f2f2f2 175px);
      }
    }

    .example__before-box {
      z-index: 20;
      overflow: hidden;
      left: 16px;

      @media (min-width: $desktop-with) {
        left: -40px;
        width: 50%;
      }
    }

    .example__after-box {
      right: -48px;
    }

    .example__before-cat {
      display: block;
      width: 677px;
      height: 518px;
    }

    .example__after-cat {
      display: block;
      width: 545px;
      height: 520px;
    }
  }
}

.example__image {
  @media (min-width: $desktop-with) {
    margin-top: -3rem;
  }
  .body .example__before-box {
    width: 60%;
  }

  img {
    display: none;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 280px;
    height: 240px;
  }

  @media (min-width: $tablet-with) {
    min-height: 552px;
  }
}

@media (min-width: $desktop-with) {
  .example__before-box::after {
    content: "";
    background: #eaeaea;
    width: 50vw;
    height: 40px;
    display: block;
    position: absolute;
  }
}

//cats ver

.example__image .example__tablet-cat {
  @media (min-width: $tablet-with) {
    display: block;
    margin-top: 42px;
    width: 680px;
    height: auto;
  }

  @media (min-width: $desktop-with) {
    margin: 0 0 0 -2.4rem;
  }
}

.example__image .example__before-image {
  @media (min-width: $tablet-with) {
    display: none;
  }
}

@media (min-width: $tablet-with) {
  .example__image--slim {
    position: absolute;
    left: 0;
    width: 23%;
    overflow: hidden;
  }
}

@media (min-width: $tablet-with) {
  .example__image--slim {
    //background: url("img/tablet/cat-skinny_tablet.png") no-repeat;
    //background-size: 50%;
    width: 708px;
    height: 582px;
  }

  .example__image--pro {
    //background: url("img/tablet/cat-fat_tablet.png") no-repeat;
    //background-size: 50%;
    width: 708px;
    min-height: 583px;
  }
}

.example__image .example__visible-cat {
  display: block;

  @media (min-width: $tablet-with) {
    display: none;
  }
}

.example__before,
.example__after {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $special-dark-grey;
  }

  &:active {
    border-bottom: none;
  }


  @media (min-width: $tablet-with) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed $special-dark-grey;
  }
}

.example__progress {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-with) {
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-with) {
    margin-top: 1.5rem;
    padding-bottom: 30px;
    margin-left: 40px;
  }
}

.example__progress-bar {
  position: relative;
  width: 28%;
  height: 14px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  margin: 0 20px;

  @media (min-width: $tablet-with) {
    background: #cdcdcd;
    border-radius: 6px;
    height: 6px;
    width: 62%;
    margin: 0 20px;
  }

  @media (min-width: $desktop-with) {
    width: 74%;
    margin: 0 30px;
  }
}

.example__progress-toggle {
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 3px;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:active {
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
  }

  @media (min-width: $tablet-with) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 12px solid #ffffff;
    position: absolute;
    top: -16px;
    left: 46%;
    display: flex;
  }
}
