.example-box {
  @media (min-width: $desktop-with) {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 23%, #f2f2f2 23%, #f2f2f2 100%);
    min-height: 600px;
  }
}

.example {
  background: #eaeaea;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 100%);
  }

  @media (min-width: $desktop-with) {
    background: none;
  }
}

.example-box__item {
  display: flex;
  flex-flow: column;
  padding-bottom: 17px;
  box-sizing: border-box;

  @media (min-width: $desktop-with) {
    flex-flow: row;

    .example__item {
      //width: 50%;
    }
  }
}

.example__title {
  text-transform: none;
  text-align: left;
  padding-top: 28px;
  margin-bottom: 19px;

  @media (min-width: $tablet-with) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin: 43px 0 54px 0;
  }

  @media (min-width: $desktop-with) {
    margin: 20px 0 54px 0;
  }
}

.example__description {
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__description > p {
  color: $special-dark-grey;

  &:first-child {
    margin-bottom: 25px;

    @media (min-width: $tablet-with) {
      margin: 10px 0 50px 0;
    }

    @media (min-width: $desktop-with) {
      margin: 100px 0 61px 0;
      width: 72%;
    }
  }
}

.example__item {
  padding-bottom: 18px;
  position: relative;

  @media (min-width: $desktop-with) {
    width: 50%;
  }
}

.example__image img {
  display: none;
  text-align: center;
  margin: 0 auto 20px auto;
}

.example__image {
  @media (min-width: $tablet-with) {
    height: 552px;
  }
}

.example__image .example__tablet-cat {
  @media (min-width: $tablet-with) {
    display: block;
    margin-top: 42px;
  }

  @media (min-width: $desktop-with) {
    margin-top: -11.7rem;
    margin-left: -3.4rem;
    width: 708px;
    height: 620px;
    //display: block;
  }
}

.example__image .example__before-image {
  @media (min-width: $tablet-with) {
    display: none;
  }
}

@media (min-width: $tablet-with) {
  .example__image--slim {
    position: absolute;
    left: 0;
    width: 23%;
    overflow: hidden;
  }
}

@media (min-width: $tablet-with) {
  .example__image--slim {
    //background: url("img/tablet/cat-skinny_tablet.png") no-repeat;
    //background-size: 50%;
    width: 708px;
    height: 582px;
  }

  .example__image--pro {
    //background: url("img/tablet/cat-fat_tablet.png") no-repeat;
    //background-size: 50%;
    width: 708px;
    min-height: 583px;
  }
}

.example__image .example__visible-cat {
  display: block;

  @media (min-width: $tablet-with) {
    display: none;
  }
}

.example__before,
.example__after {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;

  @media (min-width: $tablet-with) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed $special-dark-grey;
  }
}

.example__progress {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-with) {
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-with) {
    margin-top: 20px;
  }
}

.example__progress-bar {
  position: relative;
  width: 28%;
  height: 14px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
  background: #ffffff;
  margin: 0 13px;

  @media (min-width: $tablet-with) {
    background: #cdcdcd;
    border-radius: 6px;
    height: 6px;
    width: 62%;
    margin: 0 20px;
  }

  @media (min-width: $desktop-with) {
    width: 71%;
  }
}

.example__progress-toggle {
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 3px;

  @media (min-width: $tablet-with) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    position: absolute;
    top: -16px;
    left: 46%;
    display: flex;
  }
}
