.footer {
  //background: $basic-grey;
}

.footer__item-contact {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-with) {
    padding: 38px 70px;
  }

  @media (min-width: $desktop-with) {
    position: absolute;
    background: #ffffff;
    padding: 44px 72px 44px 75px;
    //left: 110px;
    margin-top: 95px;
    width: 570px;
    min-height: 201px;
    box-sizing: border-box;
    text-align: left;
  }
}

.footer__item-contact-main {
  background: #ffffff;
  position: relative;
}

.footer__item-contact-catalog {
  background: #f2f2f2;
  position: relative;
}

.footer__vacancy {
  width: 50%;
}

.footer__vacancy p {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 28px;

  @media (min-width: $tablet-with) {
    width: 171px;
    font-size: 20px;
    line-height: 23px;
    margin-top: 25px;
  }
}

.footer__contact {
  width: 50%;
  text-align: left;

  @media (min-width: $tablet-with) {
    text-align: right;
  }

  @media (min-width: $desktop-with) {
    text-align: left;
  }
}

.footer__contact p {
  line-height: 20px;
  color: $special-dark-grey;
  //text-align: right;
  margin-top: 27px;

  @media (min-width: $tablet-with) {
    width: 171px;
    float: right;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.footer__item-map {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
  height: 362px;

  @media (min-width: $tablet-with) {
    height: 400px;
  }

  .footer__iframe {
    height: 362px;

    @media (min-width: $tablet-with) {
      height: 400px;
    }
  }
}

.footer__logo {
  padding: 40px 0 26px 0;
  margin: 0 auto;

  @media (min-width: $tablet-with) {
    width: 30%;
    margin: 0;
  }
}

@media (min-width: $tablet-with) {
  .footer__part {
    width: 30%;

    &:nth-child(2) {
      margin-left: 30px;
    }
  }
}

@media (min-width: $desktop-with) {
  .footer__part {
    &:nth-child(2) {
      margin-left: 57px;
    }
  }
}

.footer__item-social {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: $basic-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    flex-flow: row;
    align-items: center;
    padding-top: 34px;
  }
}

.footer__logo-academy {
  padding: 20px 0 20px 0;
  width: 100%;

  &:hover .footer__logo-academy-svg-img {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-with) {
    width: 30%;
    margin-right: 0;
  }

  @media (min-width: $desktop-with) {
    padding: 30px 0 20px 0;
  }
}

.footer__logo-academy-svg-img {
  margin-left: 30px;
  fill: #666666;
}

.footer__link-logo-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $special-dark-grey;
  //min-width: 280px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-with) {
    min-width: 30%;
    justify-content: flex-end;
  }

  span,
  img {
    display: block;
  }
}
