input,
textarea {
  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.form {
  text-transform: uppercase;
  position: relative;
}

.form__item-user {
  display: flex;
  flex-flow: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 14px;
  width: 100%;

  @media (min-width: $tablet-with) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-with) {
    margin-bottom: 19px;
  }
}

.form__item-user-age {
  min-width: 100px;

  @media (min-width: $tablet-with) {
    min-width: 125px;
  }

  @media (min-width: $desktop-with) {
    margin-bottom: 0;
  }
}

.form__item-user-name {
  min-width: 38px;

  @media (min-width: $tablet-with) {
    min-width: 52px;
  }
}

.form__item-user-gravity {
  min-width: 63px;

  @media (min-width: $tablet-with) {
    min-width: 80px;
  }
}

.form__email {
  background-image: url("../img/icon/icon_mail.svg");
  background-repeat: no-repeat;
  background-position: 92% center;

  @media (min-width: $desktop-with) {
    background-position: 97% center;
  }
}

.form__phone {
  background-image: url("../img/icon/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: 92% center;

  @media (min-width: $desktop-with) {
    background-position: 97% center;
  }
}

.form__item-user-email {
  min-width: 50px;

  @media (min-width: $tablet-with) {
    min-width: 70px;
  }
}

.form__item-user-phone {
  min-width: 70px;

  @media (min-width: $tablet-with) {
    min-width: 90px;
  }
}

.form__item-input {
  border: 1px solid #e7e7e7;
  padding: 4px 13px 10px 10px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $special-dark-grey;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special-dark-grey;

    @media (min-width: $tablet-with) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-with) {
    padding: 16px 50px 16px 16px;
  }

  @media (min-width: $tablet-with) {
    padding: 13px 50px 9px 16px;
  }
}

.form__box-desktop {
  display: grid;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-with) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  @media (min-width: $tablet-with) {
    //margin-bottom: 5px;
    //width: auto;
  }
}

.form__box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  margin: 0;
  padding: 0;

  //@media (min-width: $tablet-with) {
  //  margin: auto;
  //  padding: inherit;
  //}

  &:nth-child(2) {
    position: relative;
    margin-top: 22px;
    margin-bottom: 13px;

    @media (min-width: $desktop-with) {
      margin-top: 43px;
    }

    &::before {
      content: "";
      right: 0;
      left: -20px;
      top: -16px;
      width: 320px;
      height: 1px;
      background: #d9d9d9;
      position: absolute;

      @media (min-width: $tablet-with) {
        display: none;
      }
    }

    &::after {
      content: "";
      right: 0;
      left: -20px;
      bottom: -12px;
      width: 320px;
      height: 1px;
      background: #d9d9d9;
      position: absolute;

      @media (min-width: $tablet-with) {
        display: none;
      }
    }
  }

  label {
    padding-right: 13px;
    font-size: 16px;
    line-height: 18px;
    color: $special-dark-grey;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $special_dark-grey-2;
    }

    @media (min-width: $tablet-with) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__radio-label {
  position: relative;
  margin: 13px 0 13px 46px;

  @media (min-width: $tablet-with) {
    margin: 13px 0 13px 56px;
  }

  @media (min-width: $desktop-with) {
    margin: 13px 0 13px 54px;
  }

  &:nth-child(2) {
    margin: 11px 0 11px 46px;

    @media (min-width: $tablet-with) {
      margin: 13px 0 13px 56px;
    }

    @media (min-width: $desktop-with) {
      margin: 13px 0 13px 54px;
    }
  }

  &:hover::before {
    border: 1px solid #bababa;
  }
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  //width: 70%;
  background: #ffffff;
  //padding: 0 0 35px 0;
  box-sizing: border-box;
  display: inline;
  padding: 0 40px;

  @media (max-width: 767px) {
    background: transparent;
    padding: 0 20px 0 0;
  }

  @media (min-width: $tablet-with) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-with) {
    margin-left: -40px;
  }
}

.form__title-box {
  position: relative;
  width: 100%;
  padding: 16px 0 48px 30px;
  margin: 28px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-with) {
    margin: 35px 0 28px 0;
  }

  @media (min-width: $desktop-with) {
    padding: 16px 0 17px 110px;
    margin: 53px auto 53px auto;
    position: static;
    max-width: 1440px;
  }
}

.form__title-checkbox,
.form__title-comment,
.form__title-contact {
  &::after {
    content: "";
    left: 0;
    right: 0;
    top: 24.5%;
    height: 2px;
    background: #68b738;
    position: absolute;
    z-index: -1;

    @media (max-width: 767px) {
      width: 49%;
      left: auto;
      top: 33px;
    }
  }

  @media (max-width: 767px) {
    padding: 13px 20px 0 20px;
    margin: 10px 0 32px;
  }
}

.form__title-comment {
  padding: 10px 20px 32px 20px;
  margin: 0 auto;

  &::after {
    top: 25px;

    @media (min-width: $tablet-with) {
      top: 36.5%;
    }

    @media (min-width: $desktop-with) {
      top: 44.2%;
    }
  }

  @media (min-width: $tablet-with) {
    padding: 16px 0 48px 30px;
    margin: 28px 0;
  }

  @media (min-width: $desktop-with) {
    padding: 16px 0 17px 110px;
    margin: 33px auto 56px auto;
  }
}

.form__title-checkbox {
  padding: 0 20px 0 20px;
  margin: 3px 0 38px 0;

  &::after {
    @media (max-width: 767px) {
      width: 43%;
      top: 17px;
    }

    @media (min-width: $tablet-with) {
      top: 21px;
    }
  }
}

.form__title-contact {
  &::after {
    @media (max-width: 767px) {
      width: 31%;
    }

    @media (min-width: $tablet-with) {
      top: 39%;
    }
  }
}

.form__radio-input + label {
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    left: -46px;
    top: -7px;
    cursor: pointer;

    @media (min-width: $tablet-with) {
      width: 36px;
      height: 36px;
      left: -60px;
      top: -2px;
    }

    @media (min-width: $desktop-with) {
      left: -60px;
    }
  }
}

.form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: $basic-green;
  border-radius: 50%;
  left: -36px;
  top: 2px;

  @media (min-width: $tablet-with) {
    top: 9px;
    width: 16px;
    height: 16px;
    left: -48px;
  }

  @media (min-width: $desktop-with) {
    left: -49px;
  }
}

.form .form__radio {
  @media (min-width: $tablet-with) {
    border: 1px solid #e7e7e7;
    padding: 10px 32px;
    margin: 51px 0 24px 0;

    @media (min-width: $desktop-with) {
      margin: 0;
      padding: 15px 32px;
    }
  }
}

.form__textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  padding: 10px 10px 15px 15px;
  box-sizing: border-box;
  margin-bottom: 22px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $special-dark-grey;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-with) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-with) {
    margin-bottom: 40px;
    min-height: 170px;
    padding: 10px 20px 10px 20px;
  }
}

@media (min-width: $tablet-with) {
  .form__box-checkbox-title {
    padding-bottom: 10px;
    margin-top: 28px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-with) {
  .form__box-checkbox-title {
    padding: 16px 0 17px 110px;
    margin: 16px auto 28px auto;

    &::after {
      top: 74.5%;
    }
  }
}

.form__checkbox {
  padding: 25px 0;
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border: 1px solid #cdcdcd;
  left: 0;
  cursor: pointer;

  @media (min-width: $tablet-with) {
    width: 38px;
    height: 38px;
  }
}

.form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  background: url("../img/vector.svg") no-repeat;
  height: 14px;
  width: 18px;
  left: 5px;
  //top: 20px;

  @media (min-width: $tablet-with) {
    top: auto;
    background: url("../img/tablet/vector_tablet.svg") no-repeat;
    height: 18px;
    width: 24px;
    left: 10px;
  }
}

.form__additional {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-with) {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-with) {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 83px;
  }
}

.additional-product__item {
  padding: 25px 0 0 46px;
  position: relative;
  align-items: center;
  display: flex;

  &:hover::before {
    border: 1px solid #bababa;
  }

  @media (min-width: $tablet-with) {
    padding: 12px 0 29px 59px;
  }
}

.additional-product__item-first {
  padding: 0 0 0 46px;

  @media (min-width: $tablet-with) {
    padding: 12px 0 29px 59px;
  }
}

.form__box-desktop-button {
  @media (min-width: $tablet-with) {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-with) {
    display: grid;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 62px;
  }
}

.form__button {
  border: none;
  outline: none;
  margin: 40px 0 20px 0;
  width: 280px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-with) {
    font-size: 20px;
    line-height: 0;
    margin: 30px 0 20px 0;
    padding: 25px;
  }

  @media (min-width: $desktop-with) {
    width: 100%;
  }
}

.form__box-star {
  text-align: center;
  padding: 1px 0 32px 0;
  text-transform: none;

  @media (min-width: $tablet-with) {
    margin-left: 64px;
    padding: 10px 0 0 0;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-with) {
    margin-left: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-with) {
  .form__box-wrap {
    max-width: 1440px;
    margin: 0 auto;
    //box-sizing: border-box;
  }
}
