.gift {
  //background: url("../../img/mobile/gift-photo-mobile.jpg") no-repeat;
}

.gift__item {
  background: url("../../img/mobile/gift-photo-mobile.jpg") no-repeat;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  &::before {
    content: "";
    //position: absolute;
    display: block;
    background: url("../../img/icon/icon_gift.svg") no-repeat;
    width: 80px;
    height: 80px;
    margin-top: 63px;
  }
}

.gift__description {
  text-align: center;
  padding: 40px;
}
