.header-promo {
  position: relative;
  background: url("../img/mobile/bg_mobile.jpg") no-repeat center top;
  background-size: contain;
  min-height: 490px;

  @media (min-width: $tablet-with) {
    background: none;
  }

  //@media (min-width: $desktop-with) {
  //  background-image: url("../img/desktop/bg_desk.jpg");
  //  background-repeat: no-repeat;
  //  background-position: 9vh 5vh;
  //}

  @media (min-width: $desktop-with) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header-promo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 13px;
  padding: 27px 0 12px;
  text-transform: none;

  @media (min-width: $tablet-with) {
    color: #000000;
    text-align: left;
    margin-left: 117px;
    margin-top: 33px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-with) {
    margin-left: 193px;
    margin-top: 73px;
    padding-top: 36px;
  }

  @media (min-width: $desktop-with) {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/desktop/desk_bg.png");
      background-repeat: no-repeat;
      width: 510px;
      height: 510px;
      top: -56px;
      left: 38%;
      //background-position: center;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    &::after {
      background-image: url("../img/desktop/desk_bg@2x.png");
      background-size: 108%;
      top: -46px;
      left: 39%;
    }
  }
}

.header-promo__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: block;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-with) {
    color: #000000;
    text-align: left;
    margin-left: 118px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-with) {
    margin-left: 194px;
    margin-top: 30px;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../img/mobile/promo-mobile.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 303px;
    background-position: center 28px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/mobile/header_promo_slogan@2x.png");
      background-size: 280px;
    }

    @media (min-width: $tablet-with) {
      background-image: url("../img/tablet/index-can-tablet.png");
      background-repeat: no-repeat;
      background-position: center;
      //background-size: 109%;
      width: 100%;
      min-height: 609px;
      padding-bottom: 20px;
      position: relative;
      left: -62px;
      top: 10px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/tablet/promo_tablet@2x.png");
        background-size: 708px;
      }
    }

    @media (min-width: $desktop-with) {
      background: none;
      min-height: auto;
      //background-image: url("../img/desktop/desk_bg.png");
      //background-repeat: no-repeat;
      //position: relative;
      //left: 23%;
      //background-position: center;
    }
  }
}

.header-promo__btn {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-with) {
    position: absolute;
    top: 30.5%;
    left: 15.5%;

    .btn {
      font-size: 20px;
      line-height: 20px;
      padding: 16px 0;
      width: 244px;
    }
  }

  @media (min-width: $desktop-with) {
    left: 13.5%;
    top: 54%;

    .btn {
      display: inline-block;
    }
  }

  //.btn {
  //  &:active {
  //    color: rgba(255, 255, 255, .3);
  //    background: darken($basic-green, 10%);
  //  }
  //}
}
