.header {
  width: 100%;
  box-sizing: border-box;
  //@media (min-width: $desktop-with) {
  //  background-image: url("../img/desktop/bg_desk.jpg");
  //  background-repeat: no-repeat;
  //  background-position: top right;
  //  background-size: 50%;
  //}

  @media (min-width: $desktop-with) {
    //padding: 0 50px;
  }
}

.header__item {
  @media (min-width: $desktop-with) {
    margin-top: 50px;
  }
}

.header__main {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  @media (min-width: $desktop-with) {
    margin-top: 50px;
  }
}

.header--border {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 13px;

  @media (min-width: $tablet-with) {
    border-bottom: none;
  }
}

.header-bg {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-with) {
    background-image: url("../img/desktop/bg_desk.jpg");
    background-repeat: no-repeat;
    background-position: 100% 97%;
    background-size: 50%;
    padding-bottom: 16px;
  }
}
