.header-promo {
  position: relative;
  background: url("../../img/mobile/bg_mobile.jpg") no-repeat center top;

  @media (min-width: $tablet-with) {
    background: none;
  }

  //@media (min-width: $desktop-with) {
  //  background-image: url("../img/desktop/bg_desk.jpg");
  //  background-repeat: no-repeat;
  //  background-position: 9vh 5vh;
  //}
}

.header-promo__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 13px;
  padding: 27px 0 12px;
  text-transform: none;

  @media (min-width: $tablet-with) {
    color: #000000;
    text-align: left;
    margin-left: 100px;
    font-size: 60px;
    line-height: 60px;
  }
}

.header-promo__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: block;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-with) {
    color: #000000;
    text-align: left;
    margin-left: 100px;
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    display: block;
    background: url("../../img/mobile/promo-mobile.png") no-repeat;
    width: 280px;
    height: 270px;

    //@media (max-width: $tablet-with ) {
    //  background: url("../../img/mobile/promo-mobile.png") no-repeat;
    //  width: 280px;
    //  height: 270px;
    //  margin-left: 20px;
    //  margin-top: 32px;
    //}

    @media (min-width: $tablet-with) {
      background-image: url("../../img/tablet/index-can-tablet.png");
      background-repeat: no-repeat;
      background-position: -2vh 0;
      width: 709px;
      height: 609px;
    }

    @media (min-width: $desktop-with) {
      background-image: url("../../img/desktop/desk_bg.png");
      background-repeat: no-repeat;
      position: relative;
      left: 23%;
      background-position: center;
    }
  }
}

.header-promo__btn {
  @media (min-width: $tablet-with) {
    position: absolute;
    top: 6vh;
    left: 2vh;

    .btn {
      font-size: 20px;
      line-height: 20px;
      padding: 14px 26px;
    }
  }

  @media (min-width: $desktop-with) {
    .btn {
      display: inline-block;
    }
  }
}
