.header {
  width: 100%;
  box-sizing: border-box;
  //@media (min-width: $desktop-with) {
  //  background-image: url("../img/desktop/bg_desk.jpg");
  //  background-repeat: no-repeat;
  //  background-position: top right;
  //  background-size: 50%;
  //}

  @media (min-width: $desktop-with) {
    padding: 0 50px;
  }
}

.header__main {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
}

.header--border {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 14px;

  @media (min-width: $tablet-with) {
    border-bottom: none;
  }
}

.header-bg {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-with) {
    background-image: url("../img/desktop/bg_desk.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
  }
}
