.header {
  width: 100%;

  @media (min-width: $desktop-with) {
    background-image: url("../img/desktop/bg_desk.jpg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.header__main {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
}
