.main-program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 38px;

  @media (min-width: $tablet-with) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 52px;
    margin-bottom: 55px;
  }
}

.main-program__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 37px 0 39px 0;

  @media (min-width: $tablet-with) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
  }
}

.main-program__form {
  margin-top: 10px;
}
