.nav__burger-open {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 30px;
    background: transparent;
    left: -170px;
  }

  @media (min-width: $tablet-with) {
    display: none;
  }
}

.nav__burger-line {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background: #000000;
  margin-top: 29px;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background: #000000;
    top: -16px;
    left: 0;
    transition: 0.5s;
  }

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background: #000000;
    top: -8px;
    left: 0;
    transition: 0.5s;
  }
}

.nav__list {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 65px;
  left: 0;
  background: #ffffff;
  z-index: 100;

  @media (min-width: $desktop-with) {
    background: none;
    color: #ffffff;
    margin-right: -27px;
  }

  @media (min-width: $tablet-with) {
    display: flex;
    flex-flow: row;
    position: static;
    min-width: 483px;
  }

  //@media (max-width: $tablet-with) {
  //  display: flex;
  //}
}


.nav__item {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  position: relative;
  padding: 22px 0;

  @media (min-width: $desktop-with) {
    padding: 16px 0 22px 0;
  }

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-with) {
      border: none;
    }
  }

  @media (min-width: $tablet-with) {
    border: none;
    padding: 17px 0 15px 0;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-with) {
      margin-right: 20px;
    }

    @media (min-width: $desktop-with) {
      margin-right: 11px;
    }
  }

  &:first-child {
    @media (min-width: $tablet-with) {
      //margin-right: -40px;
      margin-left: -7px;
    }

    @media (min-width: $desktop-with) {
      margin-right: -34px;
    }
  }

  @media (min-width: $desktop-with) {
    min-width: 190px;
  }
}

.nav__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-with) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-with) {
    background: none;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
  }
}

.nav__link-main {
  @media (min-width: $desktop-with) {
    color: #ffffff;

    .nav__link--active {
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
      color: #ffffff;
    }
  }
}

.nav__link--active {
  padding-bottom: 6px;
  border-bottom: 2px solid $basic-green;
}
