.process {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media (min-width: $tablet-with) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 116px;
    padding-bottom: 84px;

    //flex-flow: row;
    //flex-wrap: wrap;
    border-bottom: 2px solid $basic-grey;
    //justify-content: flex-start;
  }

  @media (min-width: $desktop-with) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 70px;
    border-bottom: none;
  }
}

.process-box__title {
  font-size: 36px;
  line-height: 40px;
  text-transform: none;
  margin-bottom: 37px;
  text-align: left;

  @media (min-width: $tablet-with) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 71px;
    margin-top: 46px;
  }

  @media (min-width: $desktop-with) {
    margin-top: 76px;
  }
}

.process__item {
  display: flex;
  margin-bottom: 1rem;
  position: relative;

  &:last-child {
    margin-bottom: 0.5rem;

    @media (max-width: 767px) {
      margin-bottom: 2.4rem;
    }
  }

  @media (min-width: $tablet-with) {
    flex-flow: column;
    width: 250px;
    //padding-bottom: 100px;
  }
}

.process__one {
  @media (min-width: $tablet-with) {
    &::after {
      content: "1";
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 23px;
      top: -38px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 68px;
    height: 61px;
    background-color: $basic-green;
    background-image: url("../img/icon/icon_leaf.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-with) {
      width: 80px;
      height: 80px;
    }
  }
}

.process__two {
  @media (min-width: $tablet-with) {
    &::after {
      content: "2";
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 5px;
      top: -39px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 68px;
    height: 61px;
    background-color: $basic-green;
    background-image: url("../img/icon/icon_tub.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-with) {
      width: 80px;
      height: 80px;
    }
  }
}

.process__three {
  @media (min-width: $tablet-with) {
    &::after {
      content: "3";
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 6px;
      top: -40px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 68px;
    height: 61px;
    background-color: $basic-green;
    background-image: url("../img/icon/icon_eat.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-with) {
      width: 80px;
      height: 80px;
    }
  }
}

.process__four {
  @media (min-width: $tablet-with) {
    &::after {
      content: "4";
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      position: absolute;
      right: 2px;
      top: -39px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 68px;
    height: 61px;
    background-color: $basic-green;
    background-image: url("../img/icon/icon_alarm.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-with) {
      width: 80px;
      height: 80px;
    }
  }
}

.process__description {
  position: static;
  z-index: 10;
  width: 82%;
  padding: 4px 0 6px 20px;
  margin: 0;
  color: $special-dark-grey;

  @media (min-width: $tablet-with) {
    font-size: 16px;
    line-height: 24px;
    padding: 33px 0 0 0;
    width: 90%;
  }
}
