.program {
  @media (min-width: $desktop-with) {
    display: flex;

    .program__item {
      width: 50%;
      margin-top: 75px;

      &:last-child {
        margin-left: 68px;
      }
    }
  }
}

.program__item {
  background: $basic-grey;
}

.program__image {
  //background: $basic-green;
  //width: 50px;
  //height: 53px;
  //border-radius: 50px;
  //margin: 22px 0 0 22px;
}

.program__item--slim {
  background-image: url("../img/mobile/cat_slim_mobile.svg");
  background-repeat: no-repeat;
  background-position: 22px 20px;

  @media (min-width: $tablet-with) {
    background-image: url("../img/cat_slim.svg");
    background-repeat: no-repeat;
    background-position: 87%;
    margin-bottom: 35px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-with) {
    background-image: url("../img/desktop/cat_slim_desk.svg");
    background-repeat: no-repeat;
    background-position: 50px 40px;
    padding-bottom: 34px;
    margin-bottom: 0;
  }

  .program__title {
    margin-left: 13px;
  }
}

.program__item--pro {
  background-image: url("../img/mobile/cat_pro_mobile.svg");
  background-repeat: no-repeat;
  background-position: 13px 20px;

  @media (min-width: $tablet-with) {
    background-image: url("../img/cat_pro.svg");
    background-repeat: no-repeat;
    background-position: 93% 52%;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-with) {
    background-image: url("../img/desktop/cat_pro_desk.svg");
    background-repeat: no-repeat;
    background-position: 40px 52px;
  }

  .program__title {
    padding: 27px 0 0 40px;

    @media (min-width: $tablet-with) {
      padding: 82px 0 3px 83px;
    }
  }
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 30px 0 0 0;

  @media (min-width: $tablet-with) {
    text-align: left;
    //padding-left: 20px;
    font-size: 36px;
    line-height: 36px;
    padding: 77px 0 3px 36px;
    margin: 0;
  }

  @media (min-width: $desktop-with) {
    text-align: center;
  }
}

.program__description {
  padding: 5px 20px 4px 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-with) {
    width: 48%;
    font-size: 16px;
    line-height: 24px;
    padding-left: 49px;
  }

  @media (min-width: $desktop-with) {
    padding-left: 55px;
    padding-top: 57px;
    width: 85%;
  }

  &::after {
    content: "";
    width: 240px;
    height: 1px;
    background: #d9d9d9;
    display: block;
    margin-top: 22px;

    @media (min-width: $tablet-with) {
      display: none;
    }
  }
}

.program__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 0 20px 20px;
  display: inline-block;
  color: #000000;

  @media (min-width: $tablet-with) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 49px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-with) {
    padding: 0 0 22px 50px;
    margin-top: 7px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -47px;
    background: url("../img/mobile/icon_arrow.svg") no-repeat;
    width: 32px;
    height: 10px;

    @media (min-width: $tablet-with) {
      top: 8px;
      right: -57px;
    }
  }

  &:hover::after {
    background: url("../img/hover_arrow.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
