.wrap {
  padding: 0 20px;

  @media (min-width: $tablet-with) {
    //max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    //width: 92%;
  }

  @media (min-width: $desktop-with) {
    max-width: 1440px;
    margin: 0 auto;
    width: 84%;
    padding: 0;
  }
}
