.wrap {
  padding: 0 20px;

  @media (min-width: $tablet-with) {
    //max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    //width: 92%;
  }

  @media (min-width: $desktop-with) {
    max-width: 1440px;
    margin: 0 auto;
    width: 84%;
    padding: 0;
    position: relative;
  }
}

@media (min-width: $tablet-with) {
  .body .wrap-program {
    // width: 82%;
    //margin: 10px auto 0;
    padding: 0 70px;
  }
}

@media (max-width: 767px) {
  .body .wrap-program {
    // width: 82%;
    //margin: 10px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-with) {
  .body .wrap-program {
    max-width: 1440px;
    padding: 0 110px;
  }
}
