@import "../sass/name.scss";

.program__item {
  position: relative;
  background: $basic_grey;

  .program-image {
    position: absolute;
    background: $basic_green;
    width: 50px;
    height: 53px;
    border-radius: 50px;
    top: 22px;
    left: 22px;

    .program-image-cat {
      margin-left: 7px;
    }
  }

  .program-title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding: 30px 0 0 0;
  }

  .program-description {
    padding: 5px 20px 4px 20px;

    &::after {
      content: "";
      width: 240px;
      height: 1px;
      background: #d9d9d9;
      display: block;
      margin-top: 22px;
    }
  }

  .program-link {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 0 0 20px;

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      right: -47px;
      background: url("../img/mobile/icon_arrow.svg") no-repeat;
      width: 32px;
      height: 10px;
    }
  }
}
